body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
  }
  
  .register-form h1 {
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
    color: #e823fa;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  
  .form-control label {
    display: block;
    margin-bottom: 5px;
    color:#e823fa
    
  }
  
  .form-control input {
    width: 60%;
    height: 4%;
  }

  .register-button{
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .register{
    background-color: #e823fa;
    border-radius: 1cm;
    width: 20%;
    height: 30px;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    border: 0;
    margin-bottom: 5px;
  }

  .redirectlogin{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: small;
  }