<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="projections-logged.component.css">
</head>
<body>
    <div class="header">
        <h1> Our program </h1>
        <div class="dropdown-container">
            <button mat-button class="dropdown-button" [matMenuTriggerFor]="menu"> <u> Account</u>  </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/account">Account details</button>
                <button *ngIf="currentUser.isAdmin" mat-menu-item routerLink="/panel" > Manage projections  </button>
                <button mat-menu-item style="color: red" (click)="logout()"> Log out</button>
            </mat-menu>
        </div>
    </div>
    <div class=movie-container>
        <div *ngFor="let projection of projections">
            <div class="movie-box">
                <div class=movie-title> <a [routerLink]="[]" (click)="redirect(projection.projectionId, currentUser.userId)">  {{projection.name}} </a> </div>
                <div> <hr> </div>
                <div class=movie-description>{{projection.description}}</div>
                <div class=movie-rating>{{projection.rating}} <img src="./assets/imdb.png" class="imdb"> </div>
                <div class=movie-year>{{projection.genre}}</div>
            </div>
        </div>
    </div>
</body>
