<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <title>Home</title>

</head>

<body>

    <div class="title">
        <h1> Hello there! </h1>
    </div>

    <div class="buttons">

        <button class="button" routerLink="/login"> Log in </button>
        <button class="button" routerLink="/projections"> See projections </button>
    </div>

</body>



</html>